nav {
    
    
    margin: 25px 0px;
    padding: 0px 0px 5px;
    
   
    ul {
        display: flex;
        justify-content: space-around;
        
        li a{
            text-decoration: none;
            font-family: @typewriter;
            font-size: 1.6em;

            img{
                width: 100px;
                height: 100px;

                #about{
                border-radius: 2px;
                box-shadow: 0px 0px 10px @black-coral;
                }

            }
        }
    }
  
}